body {
    background: rgb(225, 228, 232);
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0px;
    letter-spacing: 1px;
}

*, ::before, ::after {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

header{
	background: #fff;
	position: fixed;
	width: 100%;
	top: 0;
}

.nav {
	padding: .5em;
}

.logo, .menu {
	display: inline-block;
	vertical-align: top;
}

.logo {
	width: 30%;
}

.logo h2{
    text-transform: uppercase;
    margin: 0px;
    padding: 10px;
}

.logo h2 a{
    color: #705ecf;
}

.menu {
	width:69%; 
}

.menu ul {
	float: right;
}

.menu ul li {
	display: inline-block;
	vertical-align: top;
	list-style-type: none;
	margin: 0 14px;
}

.menu ul li::after {
	margin: 0;
}

.menu ul li a {
	font-weight: 600;
	color: #fff;
	font-size: 15px;
}

.btn {
	color: #fff;
    border: none;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 0;
    font-weight: 600;
    cursor: pointer;
}

.green-btn {
    background: #05b993;
}

.blue-btn {
	background: #705ecf;
}

/*.btn:hover{
    border: 2px solid #05b993;
	background: #05b993;
}*/


.main {
	margin: 5rem 1rem;
}

.card {
	background: #fff;
	width: 40%;
	margin: 0em auto;
	padding: 2em;
	border-radius: 4px;
}

.card-heading {
	text-align: center;
	margin-bottom: 1.5em;
}
 
.card-body label, .card-body input {
	display: block;
	width: 100%;
}

.card-body label{
	font-size: 15px;
	color: #666;
	/*letter-spacing: 0px;*/
	margin-bottom: .3rem;
	font-family: 'Cabin', sans-serif;
	font-weight: 600;
	line-height: 1.5;
	text-align: left;
}


.each-input {
	margin-bottom: 1.5em;
}

.input-form {
	/*color: #6c757d;*/
	/*opacity: 1;*/
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
}

footer{
	background: #fff;
	padding: .3em;
	text-align: center;
	bottom: 0em;
	position: fixed;
	width: 100%;
}



